.tWrapper .swiper-pagination-bullet-active{
    background: var(--orange);
}




.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 10px !important;
    left: 0 !important;
    width: initial;
    left: 300px !important;
}

